@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700;
}
